
.card-dashboard {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-dashboard:hover {
    transform: translateY(-5px) scale(1.03);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
}

.judul-title {
    background: rgb(152, 162, 164);        /* warna solid modern */
    color: white;
    padding: 15px 20px;
    border-radius: 12px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    margin-bottom: 25px;
}
table.table-bordered td,
table.table-bordered th {
    border: 1px solid #3b3a3a !important;
}

.nav-active-box {
    background: white !important;
    color: grey !important;
    padding: 6px 14px !important;
    border-radius: 8px;
}



